.c-container {
  justify-content: space-between;
}
.c-container > div {
  flex: 1;
}
.c-right {
  width: 100%;
}
.c-left {
  gap: 0.5rem;
  margin-right: 100px;
}
.contactModes {
  margin-top: 2rem;
  gap: 4rem;
}
.contactModes .row {
  gap: 1.5rem;
}
.mode {
  padding: 1.5rem;
  border: 1px solid rgba(128, 128, 128, 0.143);
  border-radius: 5px;
  gap: 1rem;
  transition: all 0.3s ease-in;
}
.mode .button {
  background: var(--lightBlue);
  width: 100%;
  color: var(--blue);
  font-size: 0.9rem;
  font-weight: 600;
  margin: 0 60px;
}
.mode .button:hover {
  transform: scale(0.9);
  background: var(--blue-gradient);
  color: white;
}
.mode:hover {
  box-shadow: var(--shadow);
  transform: scale(1.07);
}
.mode > :nth-child(1) {
  width: 100%;
  gap: 1.6rem;
}
.mode .icon {
  gap: 1.6rem;
}

.icon {
  background: var(--lightBlue);
  color: var(--blue);
  padding: 5px;
  border-radius: 5px;
}
.mode .detail .primaryText {
  font-size: 1.1rem;
}
