.r-container {
  overflow: hidden;
  position: relative;
}
.r-container {
  gap: 2rem;
  position: relative;
  overflow: hidden;
}

.r-head{
  margin-bottom: 2rem;
}

.swiper-horizontal{
  overflow: visible;
}
.r-buttons{
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 0;
}
.r-buttons button{
  font-size: 1.2rem;
  padding: .2rem .8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.r-buttons>:nth-child(1)
{
  background-color: #EEEEFF;
}
.r-buttons>:nth-child(2)
{
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}


@media (max-width: 640px) {
  .r-head{
  align-items: center;
  }
  .r-buttons{
    position: initial;
  }
}

.r-card {
  gap: 0.6rem;
  max-width: max-content;
  padding: 1rem;
  margin: auto;
  transition: all 300ms ease-in;
  border-radius: 20px;
  margin-bottom: 1rem;
}
.r-card:hover {
  background: linear-gradient(to bottom, white, #6ea3ff31);
  border-radius: 20px;
  transform: scale(1.03);
  box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.127);
  cursor: pointer;
}

.swiper-horizontal {
  overflow: visible;
}

